#container{
  overflow: scroll;
}

ion-list{
  padding: 0;
}

ion-input {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}

@media (prefers-color-scheme: light) {
  .light-grey {
    background-color: #f0f0f0;
  }

  .slightly-darker-grey {
    background-color: #e6e6e6;
  }
}

ion-item {
  --background: transparent; //überschreibt standard hintergrund
}

@media (prefers-color-scheme: dark) {
  .light-grey {
    background-color: #1e1e1e;
  }

  .slightly-darker-grey {
    background-color: #242424;
  }
}
