<div id="container">
  <ion-list>
    <ion-item *ngFor="let item of conversation; let i = index"
              [ngClass]="{'light-grey': i % 2 === 0, 'slightly-darker-grey': i % 2 !== 0}">
      <span [innerHTML]="item | lineBreaks"></span>
    </ion-item>
  </ion-list>
</div>

<ion-item>
  <ion-input id="input"
             placeholder="..."
             (keyup.enter)="send()"
             [disabled]="isDisabled"
  ></ion-input>
  <ion-button (click)="clearConversation()">{{clearConversationButton}}</ion-button>
  <ion-button (click)="send()">{{sendButton}}</ion-button>
</ion-item>
