#container{
  overflow: scroll;
}


.light-grey {
  background-color: #f0f0f0;
}

.slightly-darker-grey {
  background-color: #e6e6e6;
}

ion-item {
  --background: transparent; //überschreibt standard hintergrund
}
