#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  z-index: 1000;
}

ion-router-outlet {
  margin-top: var(--button-container-height);
  margin-bottom: 10px; //hebt die leiste an wenig an, sieht besser aus
}
