#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  z-index: 1000;
}

@media (prefers-color-scheme: dark) {
  #button-container {
    background-color: #2b2b2b;
  }
}
